<div *ngIf="viewMode; else editable">
    <div *ngIf="currentPais.id">
      <h4>Pais</h4>
      <div>
        <label><strong>Nome:</strong></label> {{ currentPais.nome }}
      </div>
  
      <a
        class="badge badge-warning"
        routerLink="/paises/{{ currentPais.id }}"
      >
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentPais">
      <br />
      <p>Please click on a Pais...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentPais.id" class="edit-form">
      <h4>Pais</h4>
      <form>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            [(ngModel)]="currentPais.nome"
            name="nome"
          />
        </div>
      </form>  
  
      <button class="badge badge-danger mr-2" (click)="deletePais()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updatePais()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentPais.id">
      <br />
      <p>Cannot access this Pais...</p>
    </div>
  </ng-template>