<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by nome"
          [(ngModel)]="nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchNome()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Paises List</h4>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPaises()">
        Remove All
      </button>
      
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let pais of paises; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivePais(pais, i)"
        >
          {{ pais.nome }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-pais-details
        [viewMode]="true"
        [currentPais]="currentPais"
      ></app-pais-details>
    </div>
  </div>