<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>New Placar</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/PlacarList" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Back</a>
          </div>
        </div>
      </div>
      <form #placarForm="ngForm">
        <div class="table-content">

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="id" class="p-t-b-10">First Name<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="id" required maxlength="255"
                [(ngModel)]="addPlacarForm.id" name="id" #id="ngModel">
              <div *ngIf="id.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!id.errors?.['required']">
                  First Name is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="nome" class="p-t-b-10">Last Name<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="nome" required maxlength="255"
                [(ngModel)]="addPlacarForm.nome" name="nome" #nome="ngModel">
              <div *ngIf="nome.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!nome.errors?.['required']">
                  Last Name is required
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="AddPlacar(placarForm.form.valid)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>